<!DOCTYPE html>
<html>
<head>
  <title>SmartspaceTestTask</title>
  <%= javascript_include_tag 'http://api-maps.yandex.ru/2.1/?lang=ru_RU' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
